
.fa-sosmed {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: white;
    border-radius: 50px;
    color: #343a40;
}

.fa:hover {
    opacity: 0.7;
    color: #343a40;
}

